﻿body {
    background: #e3493f !important;
    font-family: 'Lato', sans-serif !important;
}

table {
    font-family: 'Lato', sans-serif !important;
    table-layout: fixed;
}

th {
    background: #000 !important;
    border-color: #000 !important;
    text-transform: uppercase;
}

td {
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.dados {
    overflow-wrap: break-word;
}

.clearfix {
    height: 20px;
}

.box {
    float: left;
    min-width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    height: 60px;
    background: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin-right: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.cold {
    background-color: #fff;
    color: #010101;
}

.alert {
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
}

.request {
    display: none;
}

.response {
    display: none;
}

.swal2-content {
    font-size: 14px !important;
}

.logo-img {
    margin: 0 auto;
    background-image: url('../logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 100px;
    margin-top: 40px;
}



.logo {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}

.black {
    background: #464646 !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.red {
    background: #d7342d !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.white {
    color: white;
}

.page {
    margin: 20px;
}

.bold {
    font-weight: 900;
}

.great {
    font-size: 40px !important;
    height: 80px !important;
}

.input {
    float: left;
    width: 200px;
    margin-right: 10px;
    border-radius: 0px !important;
}

.content {
    height: 80px;
    width: 100%;
    background: #fff;
    padding: 20px;
    line-height: 80px;
}
